
@include breakpoint($tablet) {
	// FIX IMAGE ALIGNMENT
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}
	img.alignright {
		float: right;
		margin-left: 1.5em;
	}
} //breakpoint($tablet)

@include breakpoint($laptop) {
	.wrap {
		max-width: 1000px;
		padding-left: 3em;
		padding-right: 3em;
		background-color: $white;
	} //.wrap
	.has-sidebar:not(.error404) #primary {
		float: left;
		width: 58%;
	}
	.has-sidebar #secondary {
		float: right;
		padding-top: 0;
		width: 36%;
	}
	.error404 #primary {
		float: none;
	}
} //breakpoint($laptop)

