// MAIN COLORS

$white: #FFFFFF;
$black: #000000;
$snow: rgb(250, 250, 250);
$carbon: rgb(10, 10, 10);

// THEME COLORS
$purple: rgb(85, 52, 89);
$lavender: rgb(230, 217, 230);
$green: rgb(30, 139, 61);
$snowpurple: rgb(241, 235, 241);